@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

section {
    margin: auto;
}

.headline {

    font-size: 35px;
    margin-top: 20px;
}

p {
    font-size: 20px;
}

h4 {
    font-size: 22px;
    margin-top: 5px;
}

h3 {
    font-size: 22px;
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: rgba(47, 0, 255, 0.831);
}

.sym {
    padding-left: 15px;
}

li {
    font-size: 18px;
}